{
  "nodes": {
    "validator1": {"type": "validator", "location": "remote", "host": "IP_ADDRESS", "user": "ubuntu"},
    "validator2": {"type": "validator", "location": "remote", "host": "IP_ADDRESS", "user": "ubuntu"},
    "validator3": {"type": "validator", "location": "remote", "host": "IP_ADDRESS", "user": "ubuntu"},
    "rpc1": {"type": "rpc", "location": "remote", "host": "IP_ADDRESS", "user": "ubuntu"}
  }
}
